
body {
    background-color: #112369;
    border-radius: 10px;
}
.progress-direction {
    margin: 5px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px; /* Adjust this value to position the child element */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.notification{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    background-color: yellow; /* Green background */
    color: red;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease; /* Animate opacity */
    opacity: 0;
    visibility: hidden; /* Hidden by default */
}
/* Show the notification */
.notification.show {
    visibility: visible;
    opacity: 1;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8dc63f; /* Gradient background */
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 10px;
}
.span-button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

}
.span-button:hover {
    background: #8dc63f; /* Gradient background */
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    height: 100%;
    font-size: large;

}
.basic {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: start;
    justify-items: start ;
    justify-content: space-around;
}
.deduction {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: start;
    justify-content: space-around;
}
input{

    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
}

.workPlace {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}
.govSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.councilSub {
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;


}
.bdfSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.policeSub {
    padding:10px;
    background-color: white;
}
.educationSub {
    padding:10px;
    background-color: white;
}
.otherSub {
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}



.publicOfficersSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.councilDeptSub{
    padding:10px;
    background-color: white;
}
.landboardSub{
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}

/* CSS to increase the size of radio buttons */
input[type="radio"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-right: 10px; /* Add some space between the radio button and label */
}
input[type="checkbox"]{
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin: 10px; /* Add some space between the radio button and label */
}

.allowance {
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: hidden; /* Enable vertical scrolling */
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}
.newDiv{
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}
.checkboxDiv{
    background-color: white;
    padding:5px;
}
#allowance0 {
    padding:5px;
    border-radius:10px 10px 0 0;
}
#allowance11{
    border-radius:0 0 10px 10px;
}
#textheader {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}
/* Slide out to the left animation */
@keyframes slideInLeft {
    /*
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
    */
    100% {
        transform: scale(1);
        opacity: 1;
    }
        
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

/* Slide in from the right animation */
@keyframes slideInRight {
    /*
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
    */
    100% {
        transform: scale(1);
        opacity: 1;
    }
        
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
/* Animation for shrinking and fading out */
@keyframes shrinkToCenter {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
/* Shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

/* Applying the shake effect to the div */
.shake {
    animation: shake 0.3s ease;
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}
/* Class to trigger the animation */
.shrink {
    animation: shrinkToCenter 0.5s forwards;
}
.inputWrapper {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.inputWrapper input{
    width: 30%;
    font-size: medium;
}
.inputWrapper label{
    width: 70%;
}
#inputWrapper0{
    border-radius:10px 10px 0 0;
}
.selectedBox {
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: start;
    justify-items:start ;
    justify-content: space-around;
}
.newloanPresent {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-around;
}
.yes {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.no {
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}
.newloanPresentSelection {

    max-height: 100%; /* Make it fit within the parent */
    overflow-y: hidden; /* Enable vertical scrolling */
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}
.checkboxDivNewloan{
    background-color: white;
    padding:5px;
}
#newloan0 {
    padding:5px;
    border-radius:10px 10px 0 0;
}
#newloan8{
    border-radius:0 0 10px 10px;
}
#textheaderNewloan {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}

.inputWrapperNewloan {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.inputWrapperNewloan input{
    width: 30%;
    font-size: medium;
}
.inputWrapperNewloan label{
    width: 70%;
}
#inputWrapperNewloan0{
    border-radius:10px 10px 0 0;
}
.selectedBoxNewloan{
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-items:center ;
    justify-content: space-around; 
}
.settleloanPresentSelection {
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: hidden; /* Enable vertical scrolling */
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}
.checkboxDivSettleloan{
    background-color: white;
    padding:5px;
}
#settleloan0 {
    padding:5px;
    border-radius:10px 10px 0 0;
}
#settleloan8{
    border-radius:0 0 10px 10px;
}


.inputWrapperSettleloan {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.inputWrapperSettleloan input{
    width: 30%;
    font-size: medium;
}
.inputWrapperSettleloan label{
    width: 70%;
}

.selectedBoxSettleloan{
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-items:center ;
    justify-content: space-around; 
}




.inputWrapperSettleloanBalance {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.inputWrapperSettleloanBalance input{
    width: 30%;
    font-size: medium;
}
.inputWrapperSettleloanBalance label{
    width: 70%;
}
.selectedBoxSettleloanBalance{
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-items:center ;
    justify-content: space-around; 
}


.inputWrapperTax {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.inputWrapperTax input{
    width: 30%;
    font-size: medium;
}
.inputWrapperTax label{
    width: 70%;
}
#inputWrapperTax0{
    border-radius:10px 10px 0 0;
}

.birthdateDiv{
    width: 90%;
}
.birthdateForm {
    display: flex;
    align-items: center;
    justify-items: center ;
    justify-content: space-around;
    width: 100%;
}
select, input[type="submit"] {
    font-size: medium; /* Increase font size */
    padding: 5px; /* Add padding for a larger clickable area */
    margin-left: 5px; /* Add some margin for spacing */
    width: 100%; /* Set a width for the select elements */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
.botusafe20{
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.tawu23{
    padding:10px;
    background-color: white;
}
.botusafe23{
    padding:10px;
    background-color: white;
}
.tawu26{
    padding:10px;
    background-color: white;
}
.botusafe26{
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}
.optionsDiv{
    display:flex ;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling */

}
.chooseLoanDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 100%;

}
.l6xers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    justify-items: center;
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 10px;
}
.l6xers div, .l6xers span {
    font-size: medium; /* Custom font size for p and span inside .l6xers */
}
.l6xers > * {
    flex-grow: 1; /* Make each sub-element grow equally */
    text-align: center; /* Optional: center the content inside the sub-elements */
}