
body {
    background-color: rgb(0, 0, 128);

}
.progress-direction {
    margin: 5px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px; /* Adjust this value to position the child element */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg,rgb(170, 170, 255), rgb(170, 170, 255)); /* Gradient background */
    border-radius: 10px;
    width: 80%;
    height: 50%;
    padding: 10px;
}
.span-button {
    background-color: lightcoral;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

}
.span-button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    height: 100%;
    font-size: large;

}
.basic {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-items:center ;
    justify-content: space-around;
}
.deduction {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: space-around;
}
input{
    margin: 5px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
}

.workPlace {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}
.govSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.councilSub {
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;


}
.bdfSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.policeSub {
    padding:10px;
    background-color: white;
}
.educationSub {
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}



.publicOfficersSub {
    padding:10px;
    margin-top: 10px;
    background-color: white;
    border-radius:10px 10px 0 0;
}
.councilDeptSub{
    padding:10px;
    background-color: white;
}
.landboardSub{
    padding:10px;
    background-color: white;
    border-radius:0 0 10px 10px;
}

/* CSS to increase the size of radio buttons */
input[type="radio"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-right: 10px; /* Add some space between the radio button and label */
}
input[type="checkbox"]{
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin: 10px; /* Add some space between the radio button and label */
}

.allowance {
    max-height: 100%; /* Make it fit within the parent */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 10px;
}
.checkboxDiv{
    background-color: white;
    padding:5px;
}
#allowance0 {
    padding:5px;
    border-radius:10px 10px 0 0;
}
#allowance11{
    border-radius:0 0 10px 10px;
}
#textheader {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}


    /* Slide out to the left animation */
    @keyframes slideInLeft {
        from { transform: translateX(-100%); }
        to { transform: translateX(0); }
    }

    /* Slide in from the right animation */
    @keyframes slideInRight {
        from { transform: translateX(100%); }
        to { transform: translateX(0); }
    }

    
    .slide-in-left {
        animation: slideInLeft 0.5s forwards;
    }

    .slide-in-right {
        animation: slideInRight 0.5s forwards;
    }
    .inputWrapper {
        background-color: white;
        display: flex;
        align-items: center;
        padding: 5px;

    }
    .inputWrapper input{
        width: 30%;
        font-size: medium;
    }
    .inputWrapper label{
        width: 70%;
    }
    #inputWrapper0{
        margin-top: 10px;
        border-radius:10px 10px 0 0;
    }
    .selectedBox {
        max-height: 100%; /* Make it fit within the parent */
        overflow-y: auto; /* Enable vertical scrolling */
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: center;
        justify-items:center ;
        justify-content: space-around;
    }
    .newloanPresent {
        display: flex;
        flex-direction: column;
        margin: 5px;
        justify-content: space-around;
    }
    .yes {
        padding:10px;
        margin-top: 10px;
        background-color: white;
        border-radius:10px 10px 0 0;
    }
    .no {
        padding:10px;
        background-color: white;
        border-radius:0 0 10px 10px;
    
    
    }
    
